@charset 'UTF-8';

* {
  /* Size */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* User interaction */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  /* Fonts */
  font-family: 'Mojangles';
  font-size: 12pt;
}

.fullscreen {
  /* Properties, such as angule, position, display, etc. */
  position: fixed;

  /* Size */
  width: 100%;
  height: 100%;
}