#main_menu {
    background-size: cover;
    background-repeat: no-repeat;
}

#main_menu .opt-button {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

#main_menu .opt-button button {
    margin: 0 auto;
}

#minecraft-logo {
    width: 40%;
    position: relative;
    left: 454px;
    top: -116px;
}