@charset 'UTF-8';

#main_menu {
  /* Background */
  background-size: cover;
  background-repeat: no-repeat;
}

#main_menu .opt-button {
  /* Properties, such as angule, position, display, etc. */
  position: relative;
  display: flex;
  justify-content: center;

  /* Flex/Grid properties */
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;

  /* Size */
  height: 100%;
}

#main_menu .opt-button input[type='button'] {
  /* Properties, such as angule, position, display, etc. */
  margin: 0 auto;
}

#minecraft-logo {
  /* Size */
  width: 40%;

  /* Properties, such as angule, position, display, etc. */
  margin: 0 auto;
  position: relative;
  top: -100px;
}